div.content__about-me
    div.content__about-me--left
        img(src="/src/assets/bitmoji-better.png", alt="me")
    div.content__about-me--right
        p 
            | My name is Alice (yes, I know, it is writen just above).
            br
            | Young and diligent developer, I live with my little 
            a(href="https://codepen.io/LiceAh/pen/EeWOVO" target="_new") rabbit
            |  and work in Toulouse for more than 3 years.
        p 
            | I like to take up challenges, like this website using Angular 6.
            br
            | I am also very interested in graphic design and I enjoy doing pretty things.

        p Enjoy your visit on my fresh website!