//- Using event-menu directive
//- div.header
//-   div.header__title {{ title }}
//-   div.header__menu
//-     div.header__menu__close(appEventMenu) X
//-     div.header__menu__btn(appEventMenu)
//-     div.header__menu__links
//-       div(class="header__menu__links__item header__menu__links__item--active")
//-         a(routerLink="/about-me", appEventMenu) About me
//-       div.header__menu__links__item Skills
//-       div.header__menu__links__item Work experience
//-       div.header__menu__links__item Education
//-       div(class="header__menu__links__item header__menu__links__item--sayhi") Say hi!

//- router-outlet

//- Using ngClass (making the directive unnecessary)
div([ngClass]="open ? 'header--open' : 'header'")
  div.header__title {{ title }}
  div([ngClass]="open ? 'header__menu--open' : 'header__menu'")
    div.header__menu__close((click)="open=!open") X
    div.header__menu__btn((click)="open=!open")
    div.header__menu__links
      div.header__menu__links__item((click)="clickMenuMobile(open)")(*ngFor="let menu of menus" routerLinkActive="header__menu__links__item--active")
        a(routerLink="{{ menu.link }}") {{ menu.name }}