div.content__skills
    div.content__skills__effect
        div.content__skills__effect__item
            p (X)HTML | HTML5 PUG
            p CSS3
            p Stylus | Saas
        div.content__skills__effect__item
            p TypeScript
            p JavaScript | jQuery
            p AJAX | JSON
        div.content__skills__effect__item
            p PHP
            p Symfony 2 | Twig
        div.content__skills__effect__item
            p MySQL | Oracle
            p (SQL, PL/SQL)
            p Mongo
        div.content__skills__effect__item
            p Project management
            p Risk management & quality (CMMI)
            p Planning & monitoring
        div.content__skills__effect__item
            p Conception Modelling
            p Merise | UML
        div.content__skills__effect__item
            p Eclipse | Git
            p Sublime Text | Atom
            p Visual Studio Code
            p GanttProject OpenModelSphere
            p InDesign
            p Photoshop

footer © Alice POLAINA