font-size(s)
  font-size "calc(12px + %s)" % s

.content__skills
  display flex
  justify-content space-between
  align-items center
  background-image url("/src/assets/slash.png")
  border-top 1px dashed #253146
  margin-top 5vmin
  padding 0 5vmin