div.header
  div.header__title {{ title }}
  div.header__menu
    div(class="header__menu__item header__menu__item--active") About me
    div.header__menu__item Skills
    div.header__menu__item Work experience
    div.header__menu__item Education
    div(class="header__menu__item header__menu__item--sayhi") Say hi!
