.header
  display flex
  // align-items baseline
  user-select none
  &__title
    color #f9ced5
    font-weight 800
    font-size 5vmin
    margin-right 15vmin
    height 5vmin
  &__menu
    display flex
    flex-grow 1
    font-weight 800
    cursor pointer
    height 5vmin
    line-height 5vmin
    transition all 0.3s ease-in
    &__close
      display none
      position absolute
      top 0
      right 0
      font-size 5vmax
      font-weight 100
      padding 5vmax
      color #253146
      cursor pointer
    &__btn
      display none
      background url("src/assets/nav.png") no-repeat
      background-size 40px 40px
      height 40px
      width 40px
    &__links
      display flex
      justify-content space-between
      flex-grow 1
      &__item
        color #f9ced5
        &--active
          border-bottom 1px dashed #f9ced5
        &--sayhi
          color #f8ffe5
        a
          color #f9ced5
          text-decoration none

@media screen and (max-width: 900px)
  .header
    position relative
    &__title
     font-size 5vmax
     height auto
    &__menu
      position absolute
      right 0
      height auto
      line-height initial
      align-items center
      &--open
        width 100%
        height calc(100vh - 0px)
        position absolute
        top 0
        left 0
        background #f9ced5
        cursor initial
        .header__menu
          position relative
          &__close
            display flex
          &__btn
            display none
          &__links
            display flex
            flex-direction column
            line-height 15vmin
            align-items center
            &__item
              color #253146
              &--active
                border-bottom 1px dashed #253146
              a
                color #253146
      &__btn
        display flex
        margin-left auto
      &__links
        display none

  .header--open
    position initial
