// light 300 / regular 400 / medium 500 / semi-bold 600 / bold 700 / extra-bold 800
@import url("http://fonts.googleapis.com/css?family=Droid+Sans")

body
  background-color #253146
  font-family 'Work Sans', sans-serif
  margin 40px
